#createCourse {
	text-decoration: none;
	color: gray;
}

#createCourse:hover {
	color: green;
}

.info-num {
	position: absolute;
	top: 28px;
	right: -10px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background: url('../../../images/index_teacher/msg.png');
	color: #fff;
	font-style: normal;
	font-size: 1px;
}

.info-num_ {
	display: none;
	list-style-type: none;
}

.div-content {
	width: 240px;
	height: 140px;
	/* background: green; */
	padding: 0;
}

/* 加号图片的大小 */
.img-plus {
	width: 60px;
	height: 60px;
}
/* 课程介绍图片的大小 */
.img-content {
	width: 215px;
	height: 130px;
}

.div-plus {
	text-align: center;
	height: 110px;
	width: 100%;
}

.createCourse-position {
	position: absolute;
	top: 160px;
	left: 77px;
}

.div-content {
	width: 100%;
	height: 110px;
}

.on-center {
	/* background: red; */
	position: absolute;
	top: 65px;
	left: 95px;
	width: 60px;
	height: 60px;
}

.title-name {
	color: #fff;
	font-family: ’宋体’;
	font-size: 16px;
	line-height: 18px;
}

.edit-course-button {
	color: #ffffff;
	background-color: #3bb4f2;
	border-color: #3bb4f2;
	position: relative;
	display: block;
	top: -27px;
	left: 123px;
	margin-bottom: 0;
	padding: 0.5em 1em;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 5px;
}

/* 从这里开始是编辑课时的css代码 */
.row-unit {
	height: 55px;
	padding: 0;
	margin-bottom: 0rem;
}

.row-part {
	height: 47px;
	padding: 0;
	margin-bottom: 0rem;
}

.row-line {
	height: 20px;
	padding: 0;
	margin-bottom: 0rem;
}
/* 编辑课时时的间距 */
.row-line_editPart {
	height: 280px;
	padding: 0;
	margin-bottom: 0rem;
}

/* 编辑单元时的间距 */
.row-line_editUnit {
	height: 20px;
	padding: 0;
	margin-bottom: 0rem;
}

.title-unit {
	position: relative;
	padding: 0;
	display: inline;
	left: -2px;
	top: 29px;
	font-size: 1.1em;
}

.circle-unit {
	position: relative;
	padding: 0;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	border: solid gray 2px;
	left: 41px;
	top: -1.5px;
}

.num-unit {
	position: relative;
	display: inline;
	left: 7px;
	top: 0px;
}

.title-part {
	position: relative;
	padding: 0;
	display: inline;
	left: 4px;
	top: 24px;
	font-size: 0.9em;
}

.circle-part {
	position: relative;
	padding: 0;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	border: solid gray 2px;
	left: 45px;
}

.new-part-content {
	position: relative;
	padding: 0;
	left: 470px;
	top: -25px;
	width: 120px;
	height: 22px;
}

.new-part-text {
	position: relative;
	padding: 0;
	left: 40px;
	top: -27px;
	width: 120px;
	height: 22px;
}

.new-unit-content {
	position: relative;
	padding: 0;
	left: 467px;
	top: -29px;
	width: 120px;
	height: 22px;
}

.new-unit-text {
	position: relative;
	padding: 0;
	left: 44px;
	top: -30px;
	width: 120px;
	height: 22px;
}

.content-unit {
	position: relative;
	padding: 0;
	left: 100px;
	top: -30px;
	width: 90%;
	height: 36px;
	font-size: 22px;
	color: #000000b8;
}

.content-part {
	position: relative;
	padding: 0;
	left: 100px;
	top: -24px;
	width: 90%;
	height: 25px;
}
/* 单元的编辑\删除 */
.action-unit {
	padding: 0;
	position: absolute;
	top: 4px;
	left: 700px;
	font-size: 16px;
}

/* 课时的编辑\删除 */
.action-part {
	padding: 0;
	position: absolute;
	top: 1px;
	left: 700px;
	font-size: 15px;
}

.change-unit-content {
	position: relative;
	padding: 0;
	left: 100px;
	top: -31px;
	width: 90%;
	height: 36px;
	font-size: 22px;
	color: #000000b8;
	outline: 0;
}

.change-unit-input {
	position: relative;
	padding: 0;
	top: -1px;
	left: 0px;
	width: 600px;
}

.change-unit-button-group {
	padding: 0;
	position: absolute;
	top: 4px;
	left: 700px;
	font-size: 16px;
}

.change-unit-button {
	color: #ffffff;
	background-color: #3bb4f2;
	border-color: #3bb4f2;
	margin-bottom: 0;
	padding: 0.2em 0.5em;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

.edit_part {
	position: relative;
	padding: 10px 0px 0px 0px;
	top: -310px;
	left: 100px;
	width: 530px;
	height: 280px;
	background: #f0fff0;
}

.edit-part-title {
	position: relative;
	padding: 0;
	top: -2px;
	left: 0px;
	width: 450px;
}

.edit-part-desc {
	position: relative;
	padding: 0;
	top: 4px;
	left: 0px;
	width: 450px;
	height: 110px;
	resize: none;
}

.upload_box {
	position: relative;
	padding: 0;
	top: 15px;
	left: 0px;
	width: 530px;
	height: 60px;
}

.video_box {
	position: relative;
	padding: 0;
	top: -30px;
	left: 170px;
	width: 500px;
	height: 27px;
}

.button_box {
	position: relative;
	padding: 0;
	top: 15px;
	left: 70px;
	width: 200px;
	height: 40px;
}

.edit-part-button {
	color: #ffffff;
	background-color: #3bb4f2;
	border-color: #3bb4f2;
	margin-bottom: 0;
	padding: 0.2em 0.5em;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

/* 编辑课时的css代码到这里结束 */

/* canvas大小 */
.c {
	width: 300px;
	height: 150px;
}

.d {
	width: 300px;
	height: 310px;
}